<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Merriweather:400,700&display=swap" rel="stylesheet"> {% if title %}
    <link href="{{ url_for('static', filename='search.css') }}" type="text/css" rel="stylesheet">
    <title> Restaurant Recommendation System- {{ title }} </title>
    {% else %}
    <link href="{{  url_for('static', filename='home.css')}}" type="text/css" rel="stylesheet">
    <title>Restaurant Recommendation System</title>
    {% endif %}
</head>

<body>
    <nav class=" text-center navbar navbar-expand-md navbar-dark bg-custom">
        <a class="navbar-brand" href="{{ url_for('home') }}"><span class="r-name">Restaurant Recommendation System</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <div class="container align-items-center">
        <div class="jumbotron text-center bg-jumbo" style="background: rgb(12, 12, 12, 0.4) !important; ">
            <h1 style="font-weight: bolder; font-size: 50px;"><span style="color: rgb(114, 235, 225);"> Hola Gourmet! </span> </h1>
            <br>
            <p class="lead">Can't choose a restaurant?</p><br />
            <p>Here is a <span style="color: rgb(223, 236, 42); font-size: large;"><b>Restaurant Recommendation System</b></span> to help you!</p>
            <br>
            <div class="container justify-content-start">
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <input type="number" class="form-control" min="1" id="people" name="people" placeholder="No. of People" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <input type="number" class="form-control" name="min_Price" placeholder="Minimum Budget (₹)" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <input type="number" class="form-control" name="max_Price" placeholder="Maximum Budget (₹)" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <select class="custom-select" id="cuisine" name="cuisine" placeholder="Cuisine">
                                    <option value="none">Choose Cuisine</option>
                                    <option value="Awadhi">Awadhi</option>
                                    <option value="Bakery">Bakery</option> 
                                    <option value="Chinese">Chinese</option>
                                    <option value="Continental">Continental</option>
                                    <option value="Desserts">Desserts</option> 
                                    <option value="Fast Food">Fast Food</option>
                                    <option value="Mughlai">Mughlai</option>              
                                    <option value="North Indian">North Indian</option>
                                    <option value="South Indian">South Indian</option>    
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <select class="custom-select" id="locality" name="locality" placeholder="Locality">
                                    <option value="none">Choose Locality</option>
                                    <option value="Aliganj">Aliganj</option>
                                    <option value="Aminabad">Aminabad</option>
                                    <option value="Charbagh">Charbagh</option>
                                    <option value="Chowk">Chowk</option>
                                    <option value="Gomti Nagar">Gomti Nagar</option>                                    
                                    <option value="Hazratganj">Hazratganj</option>                                    
                                    <option value="Kaiserbagh">Kaiserbagh</option>
                                    <option value="Khurram Nagar">Khurram Nagar</option>
                                    <option value="Lalbagh">Lalbagh</option>
                                    <option value="Mahanagar">Mahanagar</option>
                                    <option value="RajajiPuram">RajajiPuram</option>                                   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-top: 5vh;">
                        <div class="col-12">
                            <button class="submit-button">Find Restaurants</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class=" text-center" style="padding: 0.2rem;background: rgb(12, 12, 12, 0.6);border: solid orange 2px;">
            <span style="color: white; font-weight: bold;">Made with love by <b style="color: chartreuse;"> Aditi Singh</b></span>&emsp;
            <a target="_blank " style="font-size:xx-large; color: #d5d7da; " href="https://github.com/mockingjay13 "><i class="fa fa-github " aria-hidden="true "></i></a>&emsp;
            <a target="_blank " style="font-size:xx-large; color: #0077B5; " href="https://www.linkedin.com/in/aditi-singh-098a07205/ "><i class="fa fa-linkedin-square " aria-hidden="true "></i>
            </i></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
</body>

</html>